html {
    background-image:linear-gradient(#818181,#414141);
    color: rgba(0, 0, 0, 0.541);
    text-align: center;
    text-shadow: 1px 1px 0px #cacaca;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    display: flex;
    flex-wrap: wrap;
    
}

.child {
    background-image: linear-gradient(to bottom right, #b9b9b9, #777777);
    flex: 33%;
    border: #414141 solid;
    border-radius: 5px;
}

.header {
    display: flex;
    flex-direction: row;
    padding: 1%;
    background-image: linear-gradient(to bottom right, #b9b9b9, #777777);
    border: #414141 solid;
    border-radius: 5px;
}

.row {
    width: 100%;
    display: flex;
    flex-flow: row;
}

.basicsChild {
    display: flex;
    align-items: center;
    margin: 1%;
}

@media (min-width: 1500px) {

    section {
        flex: 1;
    }

    section.container {
        flex-flow: column;
        align-items: center;
    }

    section.basics {
        display: flex;
        width: 100%;
        flex-flow: column wrap;
        justify-content:center;
        align-items: center;
    
    }

    section.basicsChild {
        flex: 1;
        flex-direction: column;
    }

    .child {
        background-image: linear-gradient(to bottom right, #b9b9b9, #777777);
        flex: 33%;
        border: #414141 solid;
        border-radius: 5px;
    }

}

@media (max-width:1499px) {
    
    .header {
        display: flex;
        flex-direction: column;
    }

    .basics {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        flex: 1;
        align-items: center;
    }

    .basicsChild {
        flex-flow: column;
    }

    .container {
        align-items: center;
    }

    section {
        flex: 1;
        flex-flow: column wrap;
    }

}

@media (max-width:900px) {
    .container {
        flex-flow: column;
    }

    section.container {
        align-items: center;
    }
}

@media (max-width:540px) {

    .header {
        display: flex;
        flex-direction: column;
    }

    section.basicsChild {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    section.container {
        align-items: center;
    }

    section.row {
        flex-flow: column;
    }

    section {
        flex: 1;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .container {
        flex-direction: column;
    }

    .child {
        background-image: linear-gradient(to bottom right, #b9b9b9, #777777);
        flex: 1;
        border: #414141 solid;
        border-radius: 5px;
    }
}

/* Header Stuff */

header {
    background-color: black;
    color: #fff;
    padding: 1%;
    text-shadow: none;
}

li {
    display: inline;
    margin: 5%;
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff; 
 }

/* clearbox */

.clearbox {
    visibility: hidden;
    clear: both;
}

input {
    height: 20px;
    background: radial-gradient(rgb(133, 133, 133),rgba(0, 0, 0, 0.253));
    border: #414141;
    border: 2px solid #414141;
    border-radius: 5px;
    resize:none;
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 1px 1px 0px #cacaca81;
    margin-bottom: 1%
}

input.title {
    width: 75%;
}

.header input {
    width: 150px;
}

input.essenceName {
    width: 40%;
    margin-bottom: 1%;
}

textarea {
    width: 75%;
    height: 80px;
    background: radial-gradient(rgb(148, 148, 148),rgba(0, 0, 0, 0.349));
    border: #414141;
    box-sizing: border-box;
    border: 2px solid #414141;
    border-radius: 5px;
    resize:none;
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 1px 1px 0px #cacaca81;
}

textarea.startingSkills {
    height: 680px;
}

#inventory {
    height: 200px;
}

input.button {
    background: #cacaca;
    border: #414141 solid 2px;
    border-radius: 5px;
    padding: 1px;
    width: 50px;
}

section.health input {
    border-color: #e60d0d;
}


section.mana input {
    border-color: #2f51c0;
}


section.stamina input {
    border-color: #1e9b25;
}

#diceResult {
    color: #ebebeb;
    text-shadow: 2px 2px 0px #414141;
}

#diceAmount, #diceSize, #diceBonus {
    width: 75px;
}